.navbar {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C2C34;
  color: white;
}

.nav-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #5E548E;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 2rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-dropdown .nav-button {
  padding: 12px 20px;
  font-size: 2rem;
  border: none;          
  border-radius: 10px;
  color: white;
  cursor: pointer;
  line-height: 1;       
}

.nav-dropdown .nav-button .arrow {
  margin-left: 8px;
  transition: transform 0.3s ease;
}


.nav-button:hover {
  background-color: #B18FCF;
  transform: scale(1.1);
}

.nav-button:active {
  background-color: #BE95C4;
}

.nav-dropdown {
  position: relative;
}

.dropdown-toggle .arrow {
  display: inline-block;
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.dropdown-toggle.open .arrow {
  transform: rotate(-90deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #9F86C0;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  z-index: 1000;
}

.dropdown-item {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

.dropdown-item:hover {
  background-color: #5E548E;
  color: white;
}
