/* ~~~~~~~~~~~~~~~~~~~~~~~~~~Links~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.link-group {
  display: flex;
  gap: 3rem; 
  justify-content: center; 
  flex-wrap: wrap;
  margin-top: 1rem;
}

.links-section h3{
    font-style: italic;
    margin-top: auto;
    display: grid;
    gap: 1rem;
    text-align: center;
}

.links{
    font-size: 25px;
    text-decoration: underline;
    color: white;
    transition: color 0.3 ease;
}

.links:hover{
    color:#D8D8F6;
    text-decoration: none;
}

.h3{
  justify-content: center;
  margin-block: 0 auto;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~Grid Section (Projects, etc.)~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.projects-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem; 
}

.grid-item {
  background-color: #524b49;
  color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.grid-item a {
  color: white;
  text-decoration: underline;
}

.grid-item a:hover {
  color: #D8D8F6;  
  text-decoration: none;
}

.grid-item h1 {
  margin: 1rem 0 0.5rem;
}

.grid-item p {
  font-size: 20px;
  margin: 0.5rem 0;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.divider {
  height: 2px;
  background-color: white;
  margin: 3rem 0;
  width: 100%;
}

.grid-item h1,
.grid-item h2,
.grid-item p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;

}

.text-image-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap; 
  max-width: 1000px;
  margin: 0rem auto;
  padding: 0 1rem; 
}

.side-image {
  width: 400px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-left: 20px;
}

.text-image-container p {
  flex: 1;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-block {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap :1.5rem;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~Decoration things/ Links~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
  background-color: #494850;
  color: white;
  margin: 0;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.divider {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 1.5em 0; 
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~Image Gallery~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.gallery-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
   padding-bottom: 100px;
}

.scroll-gallery {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  margin-bottom:  4px;
  height: auto;
  scrollbar-width: 10px; 
  scrollbar-color: white transparent;
}

.scroll-gallery::-webkit-scrollbar {
  height: 12px; 
}

.scroll-gallery::-webkit-scrollbar-track {
  background: transparent; 
}

.scroll-gallery::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  border: 3px solid transparent; 
  background-clip: content-box;
}

.scroll-gallery::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.image-container {
  flex: 0 0 auto;
  text-align: center;
}

.image-caption {
  color: white;
  margin-top: 10px;
}

.clickable-image {
  width: 200px;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.clickable-image:hover {
  transform: scale(1.05);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  background: #111;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.modal-image {
  max-width: 100%;
  max-height: 70vh;
  border-radius: 10px;
  object-fit: contain;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Pop up Image~~~~~~~~~~~~~~~~~~~*/
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff5555;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
}

.close-button:hover{
background: #ff2b2b;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  width: 45px;
  height: 45px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  color: white;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.left-arrow {
  left: -60px;
}

.right-arrow {
  right: -60px;
}