
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~Headshot Image~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.home-page-image img {
  width: 600px;
  height: auto;
  border-radius: 50px;
  clip-path: polygon(50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
  box-shadow: 0 5px 5px rgb(0, 0, 0);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~Home Page Layout/ Text ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.home-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap; 
}

.home-page-image img {
  flex-shrink: 0;
  width: 600px; 
  border-radius: 8px;
}

.home-text {
  flex:1;
  max-width: 500px;
  text-align: left;
}

.Name {
  display: flex;
  justify-content: flex-start;
  align-items: left; 
  font-size: 7rem;
  text-align: left;
  margin: 6rem 0;
}

.home-text h1,
.home-text h2,
.home-text h3 {
  margin: 0 0 1rem 0;
}

/* Hobbies Section */
.hobby-list {
  align-items: center;
  background-color: #c5afa2;
  color: black;
  box-shadow: 0 5px 5px rgb(0, 0, 0);
}

.lower-home {
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~Grid Section (Projects, etc.)~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 1rem;
  background-color: #232424;
}

.grid-item {
  background-color: #524b49;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgb(0, 0, 0);
  text-align: left;
}

.grid-item h3 {
  margin-top: 0;
  text-align: center;
}

.grid-item p {
  margin-bottom: 0;
}

.grid-item a {
  color: #c5afa2;
  text-decoration: underline;
}

.grid-item a:hover {
  text-decoration: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~Decoration things/ Links~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
  background-color: #232424;
  color: beige;
  margin: 0;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.divider {
  height: 2px;
  background-color: white;
  margin: 2rem 0;
  width: 200%;
}

.socials {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.circle-link {
  display: inline-block;
  width: 100px;
  border-radius: 50%;       
  overflow: hidden;         
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.circle-link img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.circle-link:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}